<% if @errors %>
<ul>
  <% @errors.each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
<% end %>
<div class="question_container">
  <h3><%= @question.title %></h3>
  <h5><%= @question.body %></h5>
  <form class="question_form" action="/questions/<%= @question.id %>/upvote" method="post">
    <button class="vote_btn up" type="submit" name="submit_param" value="submit_value">upvote</button>
  </form>
  <form class="question_form" action="/questions/<%= @question.id %>/downvote" method="post">
    <button class="vote_btn down" type="submit" name="submit_param" value="submit_value">downvote</button>
  </form>
  <p>
    <span class="points">#<%= @question.up_points %> up votes</span>
    <span class="points">#<%= @question.down_points %> down votes</span>
    <span class="creator"><%= @question.creator.username %></span>
    <span class="timestamp"><%= @question.time_since_creation %> hours ago</span>
    <span class="comment-count">number of answers: <%= @question.answers.count %></span>
    <a class="delete" href="/questions/<%= @question.id %>"></a>
  </p>
</div>

  <h3>Answers:</h3>
  <ul>
    <% @question.answers.each do |answer| %>
    <li><%= answer.body %></li>
      <ul class="comments-list">
        <h4>Comments:</h4>
        <% answer.comments.each do |comment| %>
            <%= erb :'_comments', locals: {comment: comment}, layout: false%>
        <% end %>
      </ul>
      <div class="comments">
        <form action="/comments/<%= answer.id %>" method="post" class="comments_stuff">
         <input type="textarea" class="comment-body" name="body">
         <button class="btn waves-effect waves-light" type="submit" name="action">Add Comment
        </button>
        </form><br>
      </div>
    <%end%>
  </ul>

  <p>Add your answer here:</p>
  <div class="answer_container">
    <form action="/answers/<%= @question.id %>" method="post">
      <input type="textarea" name="body">
      <input type="submit" name="Add answer">
    </form>
  </div>
</div>
