<div class="question_container">
  <h3><%= @question.title %></h3>
  <p><%= @question.body %></p>
</div>

<h3>Answers:</h3>
<ul>
  <% @question.answers.each do |answer| %>
  <li><%= answer.body %></li>
    <ul>
      <h4>Comments:</h4>
      <% answer.comments.each do |comment| %>
        <li><%= comment.body %></li>
      <% end %>
    </ul>
    <div class="comments">
      <form action="/comments/<%= answer.id %>" method="post">
       <input type="textarea" name="body">
       <input type="submit" value="Add comment">
      </form><br>
    </div>
  <%end%>
</ul>

<p>Add your answer here:</p>
<div class="answer_container">
  <form action="/answers/<%= @question.id %>" method="post">
    <input type="textarea" name="body">
    <input type="submit" name="Add answer">
  </form>
</div>
