<h1><%=@user.username.capitalize%>'s Profile</h1>
  <p>Users Email:<%= @user.email  %></p>
  <h4>User Comment Info</h4>
  <div >
    <table class="striped">
      <thead>
        <tr>
          <th>Comment Id</th>
          <th>Comment Body</th>
        </tr>
      </thead>
      <tbody>
        <% @user.comments.each do |comment_info| %>
        <tr>
          <td><%= comment_info.id %></td>
          <td><%= comment_info.body %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>

<h4>User Question info</h4>
<div>
  <table class="striped">
    <thead>
      <tr>
        <th>Question Id</th>
        <th>Question Title</th>
        <th>Question Body</th>
      </tr>
    </thead>
    <tbody>
      <% @user.questions.each do |question_info| %>
      <tr>
        <td><a href="/questions/<%=question_info.id%>"><%= question_info.id %></a></td>
        <td><%= question_info.title %></td>
        <td><%= question_info.body %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h4>User Answer info</h4>
<div>
  <table class="striped">
    <thead>
      <tr>
        <th>Answer Id</th>
        <th>Answer Body</th>
        <th>Responder Id</th>
        <th>Question Id</th>
      </tr>
    </thead>
    <tbody>
      <% @user.answers.each do |answer_info| %>
      <tr>
        <td><%= answer_info.id %></td>
        <td><%= answer_info.body %></td>
        <td><%= answer_info.responder_id %></td>
        <td><%= answer_info.question_id %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
