<div class="custom-container-profile-page">
<h4>Welcome, <%=@user.username.capitalize%></h4>
<p><i>Your Questions:</i></p>
<div class="tables">
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <% @user.questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.body %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div><br>

  <p><i>Your Comments:</i></p>
  <div class="tables">
    <table class="striped">
      <thead>
        <tr>
          <th>Comment</th>
          <th>For Answer</th>
        </tr>
      </thead>
      <tbody>
        <% @user.comments.each do |comment| %>
        <tr>
          <td><%= comment.body %></td>
          <td><%= comment.commentable.body %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div><br>


<p><i>Your Answers:</i></p>
  <div class="tables">
    <table class="striped">
      <thead>
        <tr>
          <th>Answer</th>
          <th>For Question</th>
        </tr>
      </thead>
      <tbody>
        <% @user.answers.each do |answer| %>
        <tr>
          <td><%= answer.body %></td>
          <td><%= answer.question.title %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
